.nextprevbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nextprevbar li a {
    display: block;
    color: black;
    padding: 1em 1em;
    text-decoration: none;
}

.nextprevbar a:hover {
    background-color: black;
    color: white;
}
