{{- /* Metadata */ -}}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/logo/favicon-16x16.png">
<link rel="manifest" href="/img/logo/site.webmanifest">
<title>{{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ end }}{{ .Site.Title }}</title>


{{- /* Style */}}

{{ $cssTop := resources.Match "css/top/*.css" | resources.Concat "assets/css/top.css" }}
{{ $cssCommon := resources.Match "css/common/*.css" | resources.Concat "assets/css/common.css" }}
{{ $cssElements := resources.Match "css/elements/*.css" | resources.Concat "assets/css/elements.css" }}

{{ $cssCore := (slice $cssTop $cssCommon $cssElements) | resources.Concat "assets/css/core.css" }}

{{ $stylesheet := (slice $cssCore) | resources.Concat "assets/css/stylesheet.css" }}

<link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}">
