/********/
/* ROOT */
/********/

:root {
    --body-max-width: 935px;
    --body-side-padding: 20px;
    --body-text-font-size: 20px;
}

@media all and (max-width: 659px) {
    :root {
        --body-text-font-size: 18px;
        --body-side-padding: 16px;
    }
    @media all and (max-width: 499px) {
        :root {
            --body-text-font-size: 16px;
        }
    }
}

/*********/
/* COLOR */
/*********/
:root {
    /*  General */
    --body-background-color: #000;
    --body-text-color: #fff;

    /*  Selection */
    --text-selection-background-color: #dcdcdc;
    --text-selection-color: #000;

    /*  Code blocks */
    --code-element-border-color: #c8c8c8;
    --code-element-background-color: #fafafa;
    --pre-element-border-color: #606060;
    /* --pre-element-background-color: #1d1d1d; */
    --pre-element-background-color: #FFFFFF;
}


/**********/
/* LAYOUT */
/**********/

html {
    --base-font-size: var(--body-text-font-size);
    font-weight: 400;
    font-size: var(--base-font-size);
}

main {
    position: relative;
    box-sizing: border-box;
    max-width: var(--body-max-width);
    margin: 0 auto;
    padding: 1rem var(--body-side-padding) 1.25rem var(--body-side-padding);
    display: flex;
    flex-flow: column;
}


