/********/
/* ROOT */
/********/

:root {
    --body-max-width: 935px;
    --body-side-padding: 20px;
    --body-text-font-size: 20px;
}
@media all and (max-width: 649px) {
    :root {
        --body-text-font-size: 18px;
        --body-side-padding: 16px;
    }
    @media all and (max-width: 499px) {
        :root {
            --body-text-font-size: 16px;
        }
    }
}


/**********/
/* LAYOUT */
/**********/

html {
    --base-font-size: var(--body-text-font-size);
    font-weight: 400;
    font-size: var(--base-font-size);
}

main {
    position: relative;
    box-sizing: border-box;
    max-width: var(--body-max-width);
    margin: 0 auto;
    padding: 1rem var(--body-side-padding) 1.25rem var(--body-side-padding);
    display: flex;
    flex-flow: column;
}

.center {
    text-align: center;
}
