.header,
.top-link {
    font-size: 15px;
    color: var(--secondary);
}

.header {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.header .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header .navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

.header .navbar a:hover {
    background-color: black;
    color: white;
}

.tags {
    font-size: 18px;
}
